{%extends 'core/base.html'%}

{%block title%}Sign Up{%endblock%}

{%block content%}

    <h1>Signup</h1>

    {%if messages%}
        {%for message in messages%}
            <p>message</P>
        {%endfor%}
    {%endif%}


    <form method="POST" class="card">
        {% csrf_token %}
        <label for="username">Username: </label>
        <br>
        <input type="text" name="username" id="username" placeholder="Give the username!!" required>
        
        <br>
        
        <label for="password">Password: </label>
        <br>
        <input type="password" name="password" id="password" required>
        
        <br>
        
        <label for="confirm_password">Confirm_Password: </label>
        <br>
        <input type="password" name="confirm_password" id="confirm_password" required>
        
        <br>
        
        <label for="email">email: </label>
        <br>
        <input type="email" name="email" id="email" placeholder="Give the Email!!" required>
        
        <br>
        <br>
        <button type="submit">Signup</button>
    </form>

    <p>Already have an account!!!! <a href={%url 'user:login'%}>Then Login</a></p>
{%endblock%}